.getall-page {
  padding: 24px;

  .table {
    tr {
      height: 32px;
      display: flex;
      padding-top: 8px;

      .text {
        width: 100%;
      }

      .hoverMenu {
        display: none;
        width: 30px;
      }

      &:hover .hoverMenu {
        display: flex;
      }
    }

    td {
      font-size: 14px;
    }
  }

  .deleteButton {
    display: flex;
    align-self: center;
  }
}

